doctype html
html(lang="en")
    head
        style
            //include ../../bootstrap/css/bootstrap.css
            include ../../bootstrap/css/bootstrap-theme.css
            include ../../bootstrap/css/freelancer.css
        script
            include ../../bootstrap/js/jquery.js
            //include ../../bootstrap/js/bootstrap.js
            include ../../bootstrap/js/freelancer.js

    body
        div(class="container")
            include ../../views/includes/header.html
            include ../../views/includes/navbar.html